<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width,initial-scale=1.0" name="viewport">
    <link rel="stylesheet" href="assets/css/semantic.css" media="screen">
    <link rel="stylesheet" href="style.css">
    <title>Imagine Festival</title>
</head>
<body>

<%- partial("includes/_header.ejs") %>

<div class="bgimg-1" id="home">
    <div class="center-header">
        <h1 class="ui green header">Imagine Arts Festival</h1>
    </div>
    <div class="center-button">
        <button class="circular large ui icon button">
            <i class="large arrow down icon"></i>
        </button>
    </div>
</div>

<%- partial("includes/_imagine")%>

<%- partial("includes/_lineupsummary")%>

<div class="bgimg-3">
    <br><br><br><br><br><br>
    <div class="ui vertical center aligned segment">
        <a href="strands/dateevent.html"><h1 class="ui header">Full Line Up for 2017</h1></a>
    </div>
</div>

<%- partial("strands/events/_spotlight") %>
<br>
<%- partial("includes/_about")%>
<div class="bgimg-4"></div>

<%- partial("includes/_sponsors.ejs") %>
<%- partial("includes/_footer.ejs") %>

</body>
</html>