<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width,initial-scale=1.0" name="viewport">
    <link rel="stylesheet" href="assets/css/semantic.css" media="screen">
    <link rel="stylesheet" href="style.css">
    <script src="//code.jquery.com/jquery-2.2.1.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.js"></script>
    <title>Imagine Festival</title>
    <script>
      $(document).ready(function() {
        $('.ui.embed').embed({
          source      : 'youtube',
          id          : 'NNKLrGTl4pU',
          placeholder : 'assets/images/landing.png'
        });
      });

    </script>

</head>
<body>

<%- partial("includes/_header.ejs") %>

<div class="bgimg-1" id="home">
    <div class="center-header">
        <h1 class="ui green header">Imagine Arts Festival</h1>
    </div>
    <div class="center-button">
        <button class="circular large ui icon button">
            <i class="large arrow down icon"></i>
        </button>
    </div>
</div>

<%- partial("includes/_imagine")%>

<%- partial("includes/_lineupsummary")%>

<div class="bgimg-3">
    <br><br><br><br><br><br>
    <div class="ui vertical center aligned segment">
        <a href="strands/dateevent.html"><h1 class="ui header">Full Line Up for 2017</h1></a>
    </div>
</div>

<%- partial("strands/events/_spotlight") %>
<br>
<%- partial("includes/_about")%>
<div class="bgimg-4"></div>
<%- partial("includes/_highlights.ejs")%>

<%- partial("includes/_sponsors.ejs") %>
<%- partial("includes/_footer.ejs") %>

</body>
<script>

	$('.custom.example .ui.embed').embed({
		source      : 'youtube',
		id          : 'O6Xo21L0ybE',
		placeholder : '/images/bear-waving.jpg'
	});


</script>
</html>