<!DOCTYPE html>
<html lang="en">
<head>
    <title>Imagine Festival</title>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" href="assets/css/semantic.css" media="screen">
    <link rel="stylesheet" href="style.css">
    <script src="//code.jquery.com/jquery-2.2.1.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.js"></script>
    <style type="text/css">
        .hidden.menu {
            display: none;
        }
        .masthead.segment {
            min-height: 800px;
            padding: 1em 0em;
        }
        .masthead .logo.item img {
            margin-right: 1em;
        }
        .masthead .ui.menu .ui.button {
            margin-left: 0.5em;
        }
        .masthead h1.ui.header {
            margin-top: 3em;
            margin-bottom: 0em;
            font-size: 4em;
            font-weight: normal;
        }
        .masthead h2 {
            font-size: 1.7em;
            font-weight: normal;
        }
        .ui.vertical.stripe {
            padding: 8em 0em;
        }
        .ui.vertical.stripe h3 {
            font-size: 2em;
        }
        .ui.vertical.stripe .button + h3,
        .ui.vertical.stripe p + h3 {
            margin-top: 3em;
        }
        .ui.vertical.stripe .floated.image {
            clear: both;
        }
        .ui.vertical.stripe p {
            font-size: 1.33em;
        }
        .ui.vertical.stripe .horizontal.divider {
            margin: 3em 0em;
        }
        .quote.stripe.segment {
            padding: 0em;
        }
        .quote.stripe.segment .grid .column {
            padding-top: 5em;
            padding-bottom: 5em;
        }

        .footer.segment {
            padding: 5em 0em;
        }

        .secondary.pointing.menu .toc.item {
            display: none;
        }

        @media only screen and (max-width: 700px) {
            .ui.fixed.menu {
                display: none !important;
            }
            .secondary.pointing.menu .item,
            .secondary.pointing.menu .menu {
                display: none;
            }
            .secondary.pointing.menu .toc.item {
                display: block;
            }
            .masthead.segment {
                min-height: 350px;
            }
            .masthead h1.ui.header {
                font-size: 2em;
                margin-top: 1.5em;
            }
            .masthead h2 {
                margin-top: 0.5em;
                font-size: 1.5em;
            }
        }
    </style>
    <script src="assets/css/semantic.js"></script>
    <script>
			$(document).ready(function() {
				// fix menu when passed
				$('.masthead').visibility({
					once: false,
					onBottomPassed: function() {
						$('.fixed.menu').transition('fade in');
					},
					onBottomPassedReverse: function() {
						$('.fixed.menu').transition('fade out');
					}
				});
				// create sidebar and attach to menu open
				$('.ui.sidebar').sidebar('attach events', '.toc.item');
			});
    </script>
    <script>
      $(document).ready(function() {
        $('.ui.embed').embed({
          source      : 'youtube',
          id          : 'NNKLrGTl4pU',
          placeholder : 'assets/images/landing.png'
        });
      });
    </script>

</head>
<body class="pushable">

<%- partial("includes/_header.ejs") %>

<!-- Page Contents -->
<div class="pusher">
    <div class="ui inverted vertical masthead center aligned segment">

        <div class="ui container">
            <div class="ui large secondary inverted pointing menu">
                <a class="toc item">
                    <i class="sidebar icon"></i>
                </a>
                <a class="ui item" href="../index.html">
                    Imagine Arts
                </a>
                <div class="ui simple dropdown item">
                    <span class="text">What's On</span>
                    <div class="menu">
                        <a class="ui item" href="../strands/vaevent.html">Visual Arts</a>
                        <a class="ui item" href="../strands/mevent.html">Music</a>
                        <a class="ui item" href="../strands/tevent.html">Theatre</a>
                        <div class="ui divider"></div>
                        <a class="ui item" href="../strands/tradevent.html">Trad Fest</a>
                        <a class="ui item" href="../strands/writerevent.html">Writers Weekend</a>
                        <div class="ui divider"></div>
                        <a class="ui item" href="../strands/dateevent.html">By Date</a>
                    </div>
                </div>
                <a class="ui item" href="../timetable.html">Timetable</a>
                <div class="ui simple dropdown item">
                    <span class="text">The Festival</span>
                    <div class="menu">
                        <a class="ui item" href="../index.html/#about">About the Festival</a>
                        <a class="ui item" href="../team.html">Meet the Team</a>
                        <div class="ui divider"></div>
                        <a class="ui item" href="../strands/aboutvisualart.html">Visual Art</a>
                        <a class="ui item" href="../strands/aboutmusic.html">Music</a>
                        <a class="ui item" href="../strands/aboutvisualart.html">Performance</a>
                        <div class="ui divider"></div>
                        <a class="ui item" href="../strands/aboutwritersweekend.html">Writers Weekend</a>
                        <a class="ui item" href="../strands/abouttradfest.html">Trad Fest</a>
                    </div>
                </div>

                <div class="ui simple dropdown item">
                    <span class="text">Get Involved</span>
                    <div class="menu">
                        <a class="ui item" href="../strands/volunteer.html">Volunteer</a>
                        <a class="ui item" href="../strands/sponser.html">Sponser</a>
                        <div class="ui divider"></div>
                        <a class="ui item" href="../strands/socialmedia.html">Social Media</a>
                        <a class="ui item" href="../contact.html">Contact Us</a>
                    </div>
                </div>

                <div class="right menu">
                    <div class="item">
                        <a class="ui twitter button"><i class="twitter icon"></i>Tweet</a>
                    </div>
                    <div class="item">
                        <a class="ui facebook button"><i class="facebook f icon"></i>Follow</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="ui text container">
            <h1 class="ui inverted header">
                Imagine Arts Festival Waterford
            </h1>
            <h2>More than just art</h2>
            <div class="ui huge primary button">Read More <i class="down arrow icon"></i></div>
        </div>
    </div>
    </div>
</div>


<%- partial("includes/_imagine")%>

<%- partial("includes/_lineupsummary")%>

<div class="bgimg-3">
    <br><br><br><br><br><br>
    <div class="ui vertical center aligned segment" style="border : solid 1px">
        <a href="strands/dateevent.html"><h1 class="ui header">Full Line Up for 2017 <div class="sub header">Check out everything Imagine has to offer</div></h1></a>
    </div>
</div>

<%- partial("strands/events/_spotlight") %>
<br>
<%- partial("includes/_about")%>

<div class="bgimg-4">
  <br><br><br><br><br><br>
  <div class="ui vertical center aligned segment" style="border : solid 1px">
      <a href="strands/volunteer.html"><h1 class="ui inverted header">Want to get involved?<div class="sub header">Voluteering - the heart of Imagine</div></h1></a>
  </div>
</div>

<%- partial("includes/_support.ejs")%>

<%- partial("includes/_highlights.ejs")%>

<%- partial("includes/_sponsors.ejs") %>
<%- partial("includes/_footer.ejs") %>




</body>

</html>
