<!DOCTYPE html>
<html lang="en">
<head>
    <title>Imagine Festival</title>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" href="assets/css/semantic.css" media="screen">
    <link rel="stylesheet" href="style.css">
    <link rel="shortcut icon" href="assets/images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="assets/images/favicon.ico" type="image/x-icon">
    <script src="//code.jquery.com/jquery-2.2.1.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.js"></script>
    <script src="assets/css/semantic.js"></script>
    <script>
			$(document).ready(function() {
				// create sidebar and attach to menu open
				$('.ui.sidebar').sidebar('attach events', '.toc.item');
			});
    </script>
    <script>
      $(document).ready(function() {
        $('.ui.embed').embed({
          source      : 'youtube',
          id          : 'NNKLrGTl4pU',
          placeholder : 'assets/images/landing.png'
        });
      });
    </script>
    <script>
        $(document).ready(function () {
	        $('.event.example .image')
		        .dimmer({
			        on: 'hover'
		        })
	        ;
        })
    </script>
</head>
<body>
<div class="pusher">

<!-- Page Contents -->

<%- partial("./includes/_header.ejs")%>
<div class="bgimg-1">
  <div class="ui masthead vertical stripe center aligned segment">
      <div class="ui container">
        <img class="ui fluid image" src='assets/images/imagine-logo.png'/>

        <a class="ui secondary basic button" href="#home">Read More <i class="down arrow icon"></i></a>
      </div>
  </div>
</div>

<%- partial("includes/_imagine")%>

<%- partial("includes/_lineupsummary")%>

<div class="bgimg-3">
    <div class="ui vertical stripe center aligned segment">
        <div class='ui text container'>
            <h1 class="ui inverted header">Imagines Full Line Up for 2017</h1>
            <p>With over 100 events to choose from.</p>
            <a class="ui secondary basic button" href="strands/dateevent.html">Click for More</a>
        </div>
    </div>
</div>

<%- partial("strands/events/_spotlight") %>
<br>
<%- partial("includes/_about")%>

<div class="bgimg-3">
    <div class="ui vertical stripe center aligned segment">
        <div class='ui text container'>
            <h1 class="ui inverted header">Want to get involved?</h1>
            <p>Volunteering - the heart of Imagine</p>
            <a class="ui secondary basic button" href="strands/volunteer.html">Click for More</a>
        </div>
    </div>
</div>
</div>


<%- partial("includes/_support.ejs")%>

<%- partial("includes/_highlights.ejs")%>

<%- partial("includes/_spotlight-main.ejs") %>

<%- partial("includes/_map.ejs")%>

<%- partial("includes/_sponsors.ejs") %>
<%- partial("includes/_footer.ejs") %>

</div>

</body>

</html>
