<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width,initial-scale=1.0" name="viewport">
    <link rel="stylesheet" href="../../assets/css/semantic.css" media="screen">
    <link rel="stylesheet" href="../../style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="http://www.google.com/jsapi" type="text/javascript"></script>

    <script type="text/javascript">google.load("jquery", "1.3.2");</script>


    <title> Imagine Festival </title>
</head>
<body>

<%- partial("/_header.ejs") %>
<%- yield %>
<%- partial("/_spotlight.ejs")%>
<%- partial("/_sponsors.ejs") %>
<%- partial("/_footer.ejs") %>

</body>
</html>